@import url(index.css);
@import url(SeccaoDeIntroducao.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--cor-do-fundo-do-site);
    font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar{
    background-color: var(--cor-do-fundo-do-site);
    width: 8px;
    border-radius: 100px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--cor-azul);
    width: 8px;
    border-radius: 100px;
    /* box-shadow: inset 0 0 3px 1px var(--cor-preta); */
}
.PanoDoHeader {
    width: 100%;
    height: 100vh;
    background-color: #0000005f;
    backdrop-filter: blur(2px);
    position: fixed;
    display: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}
.TextoGradiente {
    background: linear-gradient(to right, var(--cor-lilas), var(--cor-azul));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.BtnLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.LinksMenuEntrando {
    opacity: 0;
    animation: appearAnimation 1s ease forwards;
}
.Lme1 {
    animation-delay: .1s;
}
.Lme2 {
    animation-delay: .2s;
}
.Lme3 {
    animation-delay: .3s;
}
.Lme4 {
    animation-delay: .4s;
}
.Lme5 {
    animation-delay: .5s;
}
.Lme6 {
    animation-delay: .6s;
}
